extends header

block content
	#content.col-10
		h1 Base html
		.row
			.col-6
				ol.list
					li Lorem ipsum dolor.
					li Sapiente, in beatae!
					li Earum, commodi ullam!
						ul.list
							li Lorem ipsum.
							li Quia, corporis!
							li Ad, mollitia.
					li Laudantium, magni, veritatis.
			.col-6
				ul.list
					li Lorem ipsum dolor.
					li Sapiente, in beatae!
					li Earum, commodi ullam!
						ol.list
							li Lorem ipsum.
							li Quia, corporis!
							li Ad, mollitia.
					li Laudantium, magni, veritatis.