extends header

block content
	h1 Buttons
	.btn.btn-default Default
	.btn.btn-empty Empty
	.btn.btn-primary Primary
	.btn.btn-inverse Inverse
	.btn.btn-secondary Secondary
	.btn.btn-success Success button
	.btn.btn-warning Warning
	.btn.btn-danger Danger button
	br
	br
	.btn-lg.btn-default Default
	.btn-lg.btn-empty Empty
	.btn-lg.btn-primary Primary
	.btn-lg.btn-inverse Inverse
	.btn-lg.btn-secondary Secondary
	.btn-lg.btn-success Success button
	.btn-lg.btn-warning Warning
	.btn-lg.btn-danger Danger button
	br
	h1 Buttons with animations
	.btn.btn-default.top.anim
		.hidden-content Shop
		.visible-content 
			i.fa.fa-shopping-cart
	.btn.btn-default.left.anim
		.hidden-content Shop
		.visible-content 
			i.fa.fa-shopping-cart
	.btn.btn-default.right.anim
		.hidden-content Shop
		.visible-content 
			i.fa.fa-arrow-right
	.btn.btn-default.bottom.anim
		.hidden-content Shop
		.visible-content 
			i.fa.fa-shopping-cart
	.btn.btn-primary.fadeIn.anim
		.hidden-content lets go!
		.visible-content Lets buy something