extends header

block content
	h1 Content
	.row
		.col-6
			.position-relative
				img(src="doge.jpg", alt="")
				.absolute-center-content.text-center
					h1.bg-primary Absolute center text
				//- Второй вариант центрирования
				//- .absolute-center.flex.flex-center.flex-middle.text-center
				//- 	h2.bg-primary Absolute center text

