doctype
head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	title Document
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
	link(rel="stylesheet", href="../styles/css/sputnik.css")
	link(rel="stylesheet", href="style.css")
body
	.container
		h1 Grid
		#grid
			.row
				.col-12
					.well.well-small .col-12
				.col-6
					.well.well-small .col-6
				.col-6
					.well.well-small .col-6
				.col-4
					.well.well-small .col-4
				.col-4
					.well.well-small .col-4
				.col-4
					.well.well-small .col-4
				.col-3
					.well.well-small .col-3
				.col-3
					.well.well-small .col-3
				.col-3
					.well.well-small .col-3
				.col-3
					.well.well-small .col-3
				.col-2
					.well.well-small .col-2
				.col-2
					.well.well-small .col-2
				.col-2
					.well.well-small .col-2
				.col-2
					.well.well-small .col-2
				.col-2
					.well.well-small .col-2
				.col-2
					.well.well-small .col-2
				.col-1
					.well.well-small .col-1
				.col-1
					.well.well-small .col-1
				.col-1
					.well.well-small .col-1
				.col-1
					.well.well-small .col-1
				.col-1
					.well.well-small .col-1
				.col-1
					.well.well-small .col-1
				.col-1
					.well.well-small .col-1
				.col-1
					.well.well-small .col-1
				.col-1
					.well.well-small .col-1
				.col-1
					.well.well-small .col-1
				.col-1
					.well.well-small .col-1
				.col-1
					.well.well-small .col-1
		//- .clearfix
		.top50
			.row
				.col-4
					img(class="img-responsive" src="http://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7VG9DQVluOFJ4Tnc/materialdesign_principles_metaphor.png")
				.col-4
					img(class="img-responsive" src="http://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7VG9DQVluOFJ4Tnc/materialdesign_principles_metaphor.png")
				.col-4
					img(class="img-responsive" src="http://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7VG9DQVluOFJ4Tnc/materialdesign_principles_metaphor.png")
