extends header

block content
	h1 Grid
	#grid
		.row
			.col-12
				.well.well-small .col-12
			.col-6
				.well.well-small .col-6
			.col-6
				.well.well-small .col-6
			.col-4
				.well.well-small .col-4
			.col-4
				.well.well-small .col-4
			.col-4
				.well.well-small .col-4
			.col-3
				.well.well-small .col-3
			.col-3
				.well.well-small .col-3
			.col-3
				.well.well-small .col-3
			.col-3
				.well.well-small .col-3
			.col-2
				.well.well-small .col-2
			.col-2
				.well.well-small .col-2
			.col-2
				.well.well-small .col-2
			.col-2
				.well.well-small .col-2
			.col-2
				.well.well-small .col-2
			.col-2
				.well.well-small .col-2
			.col-1
				.well.well-small .col-1
			.col-1
				.well.well-small .col-1
			.col-1
				.well.well-small .col-1
			.col-1
				.well.well-small .col-1
			.col-1
				.well.well-small .col-1
			.col-1
				.well.well-small .col-1
			.col-1
				.well.well-small .col-1
			.col-1
				.well.well-small .col-1
			.col-1
				.well.well-small .col-1
			.col-1
				.well.well-small .col-1
			.col-1
				.well.well-small .col-1
			.col-1
				.well.well-small .col-1
	//- .clearfix
	.top50
		.row
			.col-4
				img(class="img-responsive" src="http://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7VG9DQVluOFJ4Tnc/materialdesign_principles_metaphor.png")
			.col-4
				img(class="img-responsive" src="http://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7VG9DQVluOFJ4Tnc/materialdesign_principles_metaphor.png")
			.col-4
				img(class="img-responsive" src="http://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7VG9DQVluOFJ4Tnc/materialdesign_principles_metaphor.png")
