extends header

block content
	h1 Icons
	.icons.row
		.col-1
			i.icon.icon-bulb
			p bulb
		.col-1
			i.icon.icon-calendar
			p calendar
		.col-1
			i.icon.icon-camera
			p camera
		.col-1
			i.icon.icon-clip
			p clip
		.col-1
			i.icon.icon-clock
			p clock
		.col-1
			i.icon.icon-cloud
			p cloud
		.col-1
			i.icon.icon-cup
			p cup
		.col-1
			i.icon.icon-data
			p data
		.col-1
			i.icon.icon-diamond
			p diamond
		.col-1
			i.icon.icon-display
			p display
		.col-1
			i.icon.icon-eye
			p eye
		.col-1
			i.icon.icon-note
			p note
		.col-1
			i.icon.icon-t-shirt
			p t-shirt
		.col-1
			i.icon.icon-study
			p study
		.col-1
			i.icon.icon-news
			p news
		.col-1
			i.icon.icon-fire
			p fire
		.col-1
			i.icon.icon-food
			p food
		.col-1
			i.icon.icon-heart
			p heart
		.col-1
			i.icon.icon-key
			p bulb
		.col-1
			i.icon.icon-lab
			p bulb
		.col-1
			i.icon.icon-location
			p bulb
		.col-1
			i.icon.icon-like
			p bulb
		.col-1
			i.icon.icon-lock
			p bulb
		.col-1
			i.icon.icon-mail
			p bulb
		.col-1
			i.icon.icon-mail
			p bulb
		.col-1
			i.icon.icon-megaphone
			p bulb
		.col-1
			i.icon.icon-music
			p bulb
		.col-1
			i.icon.icon-star
			p bulb
		.col-1
			i.icon.icon-stack
			p bulb
		.col-1
			i.icon.icon-sound
			p bulb
		.col-1
			i.icon.icon-vynil
			p bulb
		.col-1
			i.icon.icon-shop
			p bulb
		.col-1
			i.icon.icon-settings
			p bulb
		.col-1
			i.icon.icon-video
			p bulb
		.col-1
			i.icon.icon-world
			p bulb
		.col-1
			i.icon.icon-user
			p bulb
		.col-1
			i.icon.icon-photo
			p bulb
		.col-1
			i.icon.icon-search
			p bulb
		.col-1
			i.icon.icon-vallet
			p bulb
		.col-1
			i.icon.icon-tv
			p bulb
		.col-1
			i.icon.icon-phone
			p bulb
		.col-1
			i.icon.icon-pen
			p bulb
		.col-1
			i.icon.icon-truck
			p bulb
		.col-1
			i.icon.icon-trash
			p bulb
		.col-1
			i.icon.icon-params
			p bulb
		.col-1
			i.icon.icon-paperplane
			p bulb
		.col-1
			i.icon.icon-tag
			p bulb
		.col-1
			i.icon.icon-banknote
			p bulb
		.col-1
			i.icon.icon-comments
			p bulb
		.col-1
			i.icon.icon-monocle
			p bulb
		.col-1
			i.icon.icon-microphone
			p bulb
		.col-1
			i.icon.icon-bomb
			p bulb
		.col-1
			i.icon.icon-browser
			p bulb
		.col-1
			i.icon.icon-armchair
			p bulb
		.col-1
			i.icon.icon-crown
			p bulb
		.col-1
			i.icon.icon-chef-food
			p bulb
		.col-1
			i.icon.icon-chaplin
			p bulb
		.col-1
			i.icon.icon-paint
			p bulb
		.col-1
			i.icon.icon-umbrella
			p bulb
		.col-1
			i.icon.icon-diving
			p bulb
