extends header

block content
	#content.col-10
		h1 Typography
		h1 h1 Lorem ipsum dolor sit amet, consectetur
		h2 h2 Lorem ipsum dolor sit amet, consectetur
		h3 h3 Lorem ipsum dolor sit amet, consectetur
		h4 h4 Lorem ipsum dolor sit amet, consectetur
		h5 h5 Lorem ipsum dolor sit amet, consectetur
		h6 h6 Lorem ipsum dolor sit amet, consectetur
		p  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis iusto odit dignissimos perferendis veniam deserunt, nemo excepturi porro inventore blanditiis assumenda veritatis, voluptatem, adipisci facilis voluptate molestiae tempore alias dolore.
		h1 Navbar
		nav.navbar-inverse
			h2.navbar-header Material framework
			ul.navbar-nav.navbar-right
				li.dropdown 
					a(href="#") Dropdown
					i.fa.fa-angle-down
					ul.dropdown-menu
						li Lorem ipsum dolor.
						li.dropdown-sub A, distinctio, dolor!
							i.fa.fa-angle-right
							ul.dropdown-submenu
								li Ex, et!
								li.dropdown-sub Eveniet, animi.
									i.fa.fa-angle-right
									ul.dropdown-submenu
										li Lorem ipsum.
										li Ex, et!
								li Perspiciatis, nulla.
						li Unde, iste? Eligendi.
						li.dropdown-sub Eligendi dignissimos, at
							i.fa.fa-angle-right
							ul.dropdown-submenu
								li Lorem ipsum.
								li Ex, et!
						li Repellat, iure, atque!
						li.dropdown-sub Reiciendis, dicta rerum
							i.fa.fa-angle-right
							ul.dropdown-submenu
								li Lorem ipsum.
								li Ex, et!
								li Eveniet, animi.
								li Perspiciatis, nulla.
						li Adipisci, dolorem, nemo?	
				li 
					a(href="#") Portfolio
				li
					a(href="#") About
				li 
					a(href="#") 
						i.fa.fa-search