extends header

block content
	h1 Tables
	h4.top50 Table-hover
	table.table-hover
		thead
			tr
				th #
				th Column heading
				th Column heading
				th Column heading
		tbody
			tr
				td 1
				td Voluptate, accusantium.
				td Asperiores, facere.
				td Laboriosam, natus.
			tr
				td 2
				td Ipsa, consequuntur.
				td Dignissimos, ad.
				td Ea, itaque.
			tr
				td 3
				td Nostrum, dolorem.
				td Architecto, mollitia.
				td Dignissimos, nihil!
			tr
				td 4
				td Magnam, fugit?
				td Suscipit, nulla?
				td Sint, accusamus!
			tr
				td 5
				td Modi, id.
				td Tempore, reprehenderit.
				td Voluptatibus, omnis.
	h4.top50 Table-striped
	table.table-striped
		thead
			tr
				th #
				th Column heading
				th Column heading
				th Column heading
		tbody
			tr
				td 1
				td Voluptate, accusantium.
				td Asperiores, facere.
				td Laboriosam, natus.
			tr
				td 2
				td Ipsa, consequuntur.
				td Dignissimos, ad.
				td Ea, itaque.
			tr
				td 3
				td Nostrum, dolorem.
				td Architecto, mollitia.
				td Dignissimos, nihil!
			tr
				td 4
				td Magnam, fugit?
				td Suscipit, nulla?
				td Sint, accusamus!
			tr
				td 5
				td Modi, id.
				td Tempore, reprehenderit.
				td Voluptatibus, omnis.
	h4.top50 Table with colors
	table
		thead
			tr
				th #
				th Column heading
				th Column heading
				th Column heading
		tbody
			tr.bg-primary
				td 1
				td Voluptate, accusantium.
				td Asperiores, facere.
				td Laboriosam, natus.
			tr.bg-success
				td 2
				td Ipsa, consequuntur.
				td Dignissimos, ad.
				td Ea, itaque.
			tr.bg-warning
				td 3
				td Nostrum, dolorem.
				td Architecto, mollitia.
				td Dignissimos, nihil!
			tr.bg-danger
				td 4
				td Magnam, fugit?
				td Suscipit, nulla?
				td Sint, accusamus!
			tr.bg-asphalt
				td 5
				td Modi, id.
				td Tempore, reprehenderit.
				td Voluptatibus, omnis.