form,
.form
	.form-group
		margin-top: 20px
	label
		margin-right: 20px

.form-input
	position: relative
	.fa
		color: #ddd
		font-size: 1.2em
		line-height: 2.2em
		padding-left: 10px
		position: absolute
	input
		padding-left: 35px !important
		&:focus
			// color: $primary !important
